<div class="col-xs-12">
    <div class="add edit-logical-group">
        <div class="col-xs-12">
            <h2>Edit logical group</h2>
        </div>
        <div>
            <div class="col-xs-12">
                <label for="logical-group-name">Logical Group Name</label>
                <input id="logical-group-name" ng-model="editLogicalGroup.fields.logicalGroupName" placeholder="setting name">
            </div>
            <div class="col-xs-12">
                <span ng-repeat="k in editLogicalGroup.fields.keys track by $index" class="col-xs-12">
                    <input id="new-key" ng-model="k" ng-change="updateKey(k, $index)">
                </span>
                <span class="col-xs-12">
                    <label for="new-key">New Key</label><br>
                    <input id="new-key" ng-model="editLogicalGroup.fields.newKey" placeholder="new key">
                    <span class="btn btn-default" ng-click="addKeyValue()">add key/value</span>
                </span>

            </div>  
            <div class="col-xs-12 navigate">
                <span class="btn btn-default" ng-click="updateLogicalGroup()">save changes</span>
            	<span class="btn btn-default" ui-sref="home">back</span>
            </div>
        </div>
    </div>
</div>
