<div class="col-xs-12 home page">
	<div class="col-xs-12">
		<h2>Logical Groups and Settings</h2>
	</div>
    <div class="home-container">
        <div class="col-xs-12 col-sm-6">
            <div ng-repeat="l in home.logicalGroups track by $index">
                <h3>{{l.logicalGroupName}}</h3>
                <span class="btn btn-default" ng-click="editLogicalGroup(l._id)">edit logical group</span>
                <span class="btn btn-default" ng-click="deleteLogicalGroup(l)">delete logical group</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div ng-repeat="s in home.settings track by $index">
                <h3>{{s.settingName}}</h3>
                <span class="btn btn-default" ng-click="editSetting(s._id)">edit setting</span>
                <span class="btn btn-default" ng-click="deleteSetting(s)">delete setting</span>
                <div ng-repeat="kvp in s.kvps">
                    <span>{{kvp.key}}:</span>
                    <span>{{kvp.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
