<div class="col-xs-12">
    <div class="add page">
        <div class="col-xs-12 col-sm-6">
            <h2>Add logical group</h2>
            <div ng-repeat="l in add.logicalGroups track by $index">
                <h3>{{l.logicalGroupName}}</h3>
                <span ng-repeat="k in l.keys">{{k}}&nbsp;</span>
                <span class="btn btn-default" ng-click="addLogicalGroup(l)" ng-hide="logicalGroupAlreadyAdded(l.logicalGroupName)">add logical group</span>
                <span class="btn btn-default" ng-click="removeLogicalGroup(l)" ng-show="logicalGroupAlreadyAdded(l.logicalGroupName)">remove logical group</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2>Create setting</h2>
            <div class="col-xs-12">
                <label for="setting-name">Setting Name</label>
                <input id="setting-name" ng-model="add.fields.settingName" placeholder="setting name">
            </div>
            <div class="col-xs-12">
                <span>Logical groups:&nbsp;</span><span ng-repeat="l in add.fields.logicalGroups track by $index">{{l}}&nbsp;</span>
            </div>
            <div class="col-xs-12">
                <span ng-repeat="kv in add.fields.kvps track by $index" class="col-xs-12">
                    <input id="new-key" ng-model="kv.key">
                    <input id="new-value" ng-model="kv.value">
                    <span class="btn btn-default" ng-click="deleteKVP($index)">delete</span>
                </span>
                <span ng-repeat="lgkv in add.fields.logicalGroupKvps track by $index" class="col-xs-12">
                    <input id="new-key" ng-model="lgkv.key">
                    <input id="new-value" ng-model="lgkv.value">
                    <span class="btn btn-default" ng-click="deleteLogicalGroupKVP($index)">delete</span>
                </span>
                <span class="col-xs-12">
                	<span class="new-key">
	                    <label for="new-key">New Key</label>
	                    <input id="new-key" ng-model="add.fields.newKey" placeholder="new key">
	                </span>
	                <span class="new-value">
	                    <label for="new-value">New Value</label>
	                    <input id="new-value" ng-model="add.fields.newValue" placeholder="new value">
	                </span>
	                <span>
	                	<br>
	                    <span class="btn btn-default" ng-click="addKeyValue()">add</span>
	                </span>
                </span>
                <div class="navigate col-xs-12">
                    <span class="btn btn-default" ng-click="createSetting()">create setting</span>
                    <span class="btn btn-default" ui-sref="home">back</span>
                </div>
            </div>  
        </div>
    </div>
</div>
